*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-degrade{
    width: 100%;
    padding: 300px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, pink, purple, blue, rgb(179, 179, 255));
    background-size: 500% 100%;
    animation: degrade-animated 5s infinite alternate;
}

@keyframes degrade-animated{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}